<div class="product-card">
    <img src="/images/gabriel-beaudry-5X5dCf4Pp44-unsplash.jpg" alt="product-image" class="product-img">                       
    
    <div class="name-buttoms-product">
        <p class="product-name">
            Nombre del producto
        </p>

        <div class="buttoms-and-price">
            <div class="buttons-for-#-items">
                <form >
                    <div class="number-of-items">
                        <button class="removeItem">
                            <i class="fas fa-trash"></i>
                        </button>
                        <input type="number" name= "quantity" class="quantity" value="1" min="1">
                        <button class="addItem">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    
                </form>      
                                                                      
            </div>

            <div class="product-price-mobile"> 
                <p class="name-price">
                    Precio:
                </p>                                                                                                  
                <p class="number-price">
                    $ 000.00
                </p>
            </div>
        </div>

                                   
    </div>

    <div class="product-price-desktop">                            
        <p class="number-price">
            $ 000.00
        </p>
    </div>
    

</div>
